navbar {

  display: block;
  background: #0B0E26;
  border-bottom: 1px solid #E9F0FA;
  box-shadow: 1px 1px 14px -3px #E9F0FA;

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }

  fullstack-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 40px;
  }

  a {
    color: #E9F0FA;
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#f31214, 10%);
    }
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    border: 1px solid #E9F0FA;
    margin-top: 6px;
    background: none;
    outline: none !important;
    color: darken(#f31214, 10%);
    &:hover {
      color: #f31214;
    }
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: white;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

  .navSearch {
    float: right;
    width: 10vw;
    margin-top: 6px;
    margin-right: 20px;
  }

}
